@import "tailwindcss";

:root {
  --background: #f9f8f8;
  --branco: #fff;
  --verde-escuro: #6cae75;
  --verde: #527e5c;
  --verde-claro: #c1e1c1;
  --laranja: #f8b270;
  --laranja-claro: #fae7d4;
  --azul-escuro: #2c3e50;
  --azul-claro: #3498db;
  --preto: #000;
  --cor-borda: #c0c0c0;
  --cinza: #d9d9d9;
  --vermelho: #ff1900;
  --vermelho-claro: #ffcdcd;
}

body {
  background: var(--background);
  font-family: var(--font-lexend), sans-serif;
}
